In [1]:
import pandas as pd

In [29]:
survey_data=pd.read_csv('청년층 생활실태 및 복지욕구 조사_데이터.csv')

C:\Users\keonj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
survey_data

,ID,시도,시군구,SQ6,SQ7,A1,A2,A2_1,A3_1,A3_2,...,H3_4,H4,DM2,DM3,DM4,DM5,DM6,DM7,f_wt,s_wt
0,1,경기도,부천시,2,30,2,8,2,3,1,...,0,48000,3,2,3,7,2,3,1718.412786,0.473021
1,2,경기도,부천시,1,32,1,2,,2,2,...,40,27000,3,2,3,2,2,2,3644.788976,1.003287
2,3,경기도,부천시,2,20,2,8,2,4,1,...,20,36000,1,2,2,7,2,4,1557.992711,0.428862
3,4,경기도,부천시,2,27,2,8,1,2,1,...,0,40000,2,2,2,7,2,2,1531.752001,0.421639
4,5,경기도,부천시,2,25,2,8,2,4,2,...,40,80000,2,2,3,7,2,4,3063.504002,0.843279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3013,3759,전라남도,순천시,1,27,2,8,2,4,2,...,0,40000,2,4,3,7,2,4,3802.364836,1.046662
3014,3760,전라남도,순천시,2,33,2,5,,3,1,...,23,19000,3,4,3,4,2,3,1900.090307,0.523030
3015,3761,전라남도,순천시,2,32,2,8,2,3,1,...,20,40000,3,4,3,7,2,3,1900.090307,0.523030
3016,3762,전라남도,순천시,2,28,2,8,2,4,2,...,0,40000,2,4,3,7,2,4,3387.389984,0.932433
3017,3763,전라남도,순천시,2,21,2,8,2,3,1,...,35,35000,1,4,2,7,2,3,1722.709975,0.474204

In [35]:
survey=survey_data[['ID','시도','시군구','SQ6','SQ7']]+survey_data.loc[:,'E1':'E6_12_op']